lightweight_mmm.egg-info/dependency_links.txt
lightweight_mmm.egg-info/PKG-INFO
lightweight_mmm.egg-info/requires.txt
lightweight_mmm.egg-info/SOURCES.txt
lightweight_mmm.egg-info/top_level.txt
*.pyc
build